body {
	font-family: Avenir, sans-serif;
}
header h1{
	width:200px;
	margin-left:auto;
	margin-right:auto;
}
#mySketch {
	width:800px;
	height:250px;
	margin:auto;
}
section div {
	width:300px;
	float:left;
}
section h2 {
	margin-left:30%;
}
section {
	width:900px;
	margin-left:auto;
	margin-right:auto;
}
ul {
	list-style-type:none;
}
#blog {
	width:800px;
	margin:auto;
}
footer {
	width:250px;
	padding-top:250px;
	margin-left:auto;
	margin-right:auto;
}
