body {
	font-family: Avenir, sans-serif;
}
header h1{
	width:400px;
	margin-left:auto;
	margin-right:auto;
}
#research {
  width:400px;
}
#reddit {
  width:400px;
}
#bakatsuki {
  width:400px;
}
footer {
	width:250px;
	padding-top:250px;
	margin-left:auto;
	margin-right:auto;
}
