body {
	font-family: Avenir, sans-serif;
}
header h1{
	width:400px;
	margin-left:auto;
	margin-right:auto;
}
#topics {
  width:800px;
  margin-left: 15%;
}
footer {
	width:250px;
	padding-top:250px;
	margin-left:auto;
	margin-right:auto;
}
