body {
	font-family: Avenir, sans-serif;
}
header h1{
	width:400px;
	margin-left:auto;
	margin-right:auto;
}
article h2 {
  margin-left: 60px;
}
#research p{
  width:400px;
  margin-left: 60px;
}
#reddit p{
  width:400px;
  margin-left: 60px;
}
#bakatsuki p{
  width:400px;
  margin-left: 60px;
}
footer {
	width:250px;
	padding-top:250px;
	margin-left:auto;
	margin-right:auto;
}
