body {
	font-family: Avenir, sans-serif;
}
header h1{
	width:200px;
	margin-left:auto;
	margin-right:auto;
}
article {
  width:800px;
  margin:auto;
}
#topics {
  width:800px;
}
footer {
	width:250px;
	padding-top:250px;
	margin-left:auto;
	margin-right:auto;
}
