ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#banner {
    text-align: center;
}

#searchBar {
  float: right;
}


footer {
  width: 320px;
  padding-top: 250px;
  margin-left: auto;
  margin-right: auto;
}
