body {
	width: 100%;
}

header {
	font-family: Tahoma, Geneva, sans-serif;
}

#collect {
	position: relative;
	width: 1200px;
	height:750px;
	margin: auto;
}

#collect img {
	position: absolute;
}

#collection {
	margin: auto;
}

#london {
	width:290px;
	margin-left: 360px;
	margin-top:420px;
	display: block;
}

#italy {
	width:290px;
	margin-left: 174px;
	margin-top: 310px;
	display: block;
}

footer {
	text-align: center;
}
