header {
	font-family: Tahoma, Geneva, sans-serif;
}

#collect {
	position: relative;
	width: 1200px;
	height:750px;
	margin: auto;
}

#collection {
	position: absolute;
}

#london {
	width: 300px;
	left: 500px;
	display: block;
}

footer {
	text-align: center;
}
