body {
	width: 100%;
}

header {
	font-family: Tahoma, Geneva, sans-serif;
	margin-left: 50px;
}

p {
	font-family: Tahoma, Geneva, sans-serif;
	position: absolute;
	width: 250px;
}

#collect {
	position: relative;
	width: 1200px;
	height:750px;
	margin: auto;
}

#collect img {
	position: absolute;
}

#collection {
	margin: auto;
}

#london {
	width:290px;
	margin-left: 360px;
	margin-top:420px;
	display: block;
}

#londoninfo {
	opacity: 0;
	margin-top: 600px;
	margin-left: 130px;
}

#italy {
	width:290px;
	margin-left: 174px;
	margin-top: 310px;
	display: block;
}

#italyinfo {
	opacity: 0;
	margin-top: 400px;
}

#quebec {
	width: 290px;
	margin-left: 235px;
	margin-top: 125px;
	display: block;
}

#quebecinfo {
	opacity: 0;
	margin-top: 200px;
}

#hongkong {
	width: 290px;
	margin-left: 388px;
	margin-top: -4px;
	display: block;
}

#hongkonginfo {
	opacity: 0;
	margin-left: 170px;
	margin-top: 40px;
}

#seuol {
	width: 290px;
	margin-left: 614px;
	margin-top: 65px;
	display: block;
}

#seuolinfo {
	opacity: 0;
	margin-left: 900px;
	margin-top: 50px;
}

#paris {
	width: 290px;
	margin-left: 716px;
	margin-top: 189px;
	display: block;
}

#parisinfo {
	opacity: 0;
	margin-left: 950px;
	margin-top: 290px;
}

#taiwan {
	width: 290px;
	margin-left: 597px;
	margin-top: 394px;
	display: block;
}

#taiwaninfo {
	opacity: 0;
	margin-left: 860px;
	margin-top: 510px;
}

footer {
	position: relative;
	text-align: center;
}
