body {
  font-family: Avenir, sans-serif;
}

header h1 {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin: auto;
}

article div {
  width: 300px;
  float: left;
}

#blog {
  width: 800px;
  margin: auto;
}

#blog2 {
  width: 800px;
  margin: auto;
}

#blog3 {
  width: 800px;
  margin:auto;
}

#blog4 {
  width: 800px;
  margin: auto;
}

#blog5 {
  width: 800px;
  margin:auto;
}

#blog6 {
  width: 800px;
  margin:auto;
}

footer {
  width: 300px;
  padding-top: 250px;
  margin-left: auto;
  margin-right: auto;
}
